<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<title>Highspot's - Magic The Gathering card viewer</title>
<head>
<link rel="stylesheet" type="text/css" href="/app/css/index.css">
  <script src="/app/js/jquery.min.js"></script>
  <script src="/app/js/cardManager.js"></script>
</head>
<body>
  <div class="header">Highspot's MTG card viewer <span class="metaToggle"><button type="button" id="metaToggleButton" class="Hide"></button></span></div>
    <div class="cards"></div>
  <div class="footer"></div>

  <div class="cardContainerTemplate">
    <div class="cardImage">cardImage</div>
    <div class="meta">
      <div class="name">name</div>
      <div class="artist">artist</div>
      <div class="set">set</div>
    </div>
  </div>
</body>
</html>
